@{
    ViewData["Title"] = "Карти";
}

<div id="app">

    <div class="menu-bottom" v-bind:class="{hide:edit}">
        <button v-on:click="MenuShow()">Прокласти маршрут</button>
    </div>

    <div class="menu-bottom" v-bind:class="{hide:!edit}">
        <button v-on:click="RoteUprove()">Підтвердити маршрут</button>
    </div>

    <div class="menu" v-bind:class="{active:show}">

        <section>

            <div id="mode-selector" class="controls">
                <input type="radio"
                       name="type"
                       id="changemode-walking"
                       checked="checked"
                       ref="travelModeWalking" />
                <label for="changemode-walking">Пішки</label>

                <input type="radio" name="type" id="changemode-transit" ref="travelModeTransit" />
                <label for="changemode-transit">Транспортом</label>

                <input type="radio" name="type" id="changemode-driving" ref="travelModeDriving" />
                <label for="changemode-driving">Авто</label>
            </div>

            <button class="menu-button" v-on:click="AddFields()">Додати точку</button>
            
            <div style="display: inblock">
                <input id="origin-input"
                       ref="origin"
                       class="controls"
                       type="text"
                       placeholder="Введіть початкову точку" />

                <input id="destination-input"
                       ref="destination"
                       class="controls"
                       type="text"
                       placeholder="Введіть наступну точку" />

                <div v-for="index in inputCount">
                    <input id="destination-input"
                           ref="destination"
                           class="controls"
                           type="text"
                           placeholder="Введіть наступну точку" />
                </div>
                <p></p>

            </div>

            <p></p>
            <button v-on:click="AddMarker()">Вручну</button>
            <p></p>

            <input v-model.number="id" />
            <button v-on:click="BuiltRoute()">Побудувати маршрут</button>
            <p></p>
            <button v-on:click="AddWaypoint()">Завантажити із файлу</button>
            <p></p>
            <button v-on:click="AddWaypoint()">Завантажити із хмари</button>
            <p></p>
            <button v-on:click="RouteMap()">Показати на карті</button>
        </section>
    </div>

    <div class="map" ref="map" v-bind:class="{active:edit}"></div>
</div>
