@{
    ViewData["Title"] = "Карти";
}

<div id="app">

    <div class="menu-bottom" v-bind:class="{hide:edit}">
        <button v-on:click="MenuShow()">Прокласти маршрут</button>
    </div>

    <div class="menu-bottom" v-bind:class="{hide:!edit}">
        <button v-on:click="RoteUprove()">Підтвердити маршрут</button>
    </div>

    <div class="menu" v-bind:class="{active:show}">

        <section>
            <div>Вибір транспорту: {{ picked }}</div>

            <input type="radio" id="one" value="Авто" v-model="picked" />
            <label for="one">Авто</label>

            <input type="radio" id="two" value="Вело" v-model="picked" />
            <label for="two">Вело</label>

            <input type="radio" id="three" value="Громадський" v-model="picked" />
            <label for="three">Громадський</label>

        </section>
        <p></p>

        <section>
            <p>Додати точку</p>
            <p></p>

            <div style="display: inline">
                <input id="origin-input"
                       ref="origin"
                       class="controls"
                       type="text"
                       placeholder="Введіть початкову точку" />

                <input id="destination-input"
                       ref="destination"
                       class="controls"
                       type="text"
                       placeholder="Введіть наступну точку" />

                <div id="mode-selector" class="controls">
                    <input type="radio"
                           name="type"
                           id="changemode-walking"
                           checked="checked" />
                    <label for="changemode-walking">Пішки</label>

                    <input type="radio" name="type" id="changemode-transit" />
                    <label for="changemode-transit">Транспортом</label>

                    <input type="radio" name="type" id="changemode-driving" />
                    <label for="changemode-driving">Авто</label>
                </div>
            </div>

            <button v-on:click="AddMarker()">Вручну</button>
            <p></p>
            <input v-model.number="id" />
            <button v-on:click="BuiltRoute()">Побудувати маршрут</button>
            <p></p>
            <button v-on:click="AddWaypoint()">Завантажити із файлу</button>
            <p></p>
            <button v-on:click="AddWaypoint()">Завантажити із хмари</button>
            <p></p>
            <button v-on:click="RouteMap()">Показати на карті</button>
        </section>
    </div>

    <div class="map" ref="map" v-bind:class="{active:edit}"></div>
</div>
