.map {
    height: 100%;
}
    .map.active {
        border: 5px solid red;
    }

#app {
    height: calc(100vh - 100px);
}
/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
    left:0%;
    text-align: center;
    width: 100%;
    z-index: 10;
}
    .menu-bottom.hide {
        opacity: 0;
        pointer-events: none;
    }

    .menu-bottom button {
        padding: 30px;
    }

.menu {
    width: 60vw;
    height: 60vh;
    position: fixed;
    background: #fff;
    border: 1px solid #ccc;
    top: 20vh;
    left: 20vw;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    border-radius: 15px;
}

    .menu.active {
        opacity: 0.9;
        top: 15vh;
        pointer-events: auto;
    }

.controls {
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

    #origin-input:focus,
    #destination-input:focus {
        border-color: #4d90fe;
    }

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

    #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }